{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Adicionar Novo Cursos</h2>
<hr>
{%- for mensagem in get_flashed_messages()%}
    <div class="alert alert-danger">
        {{mensagem}}
    </div>
{%- endfor %}
<form action="{{url_for('cria_curso')}}" method="POST" class="form-control">
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Nome do curso" required>
    <label>Descrição</label>
    <input class="form-control" type="text" name="descricao" placeholder="Descrição do curso" required>
    <label>Carga Horária</label>
    <input class="form-control" type="number" name="ch" placeholder="Carga Horária" required>
    <button class="btn btn-success mt-1">Adicionar</button>
</form>
{% endblock conteudo %}
